.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.list {
  position: relative;
  top: -20px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  max-height: 180px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: sticky;
    top: 0;
    background-color: white; /* Цвет фона заголовка */
    z-index: 1; /* Обеспечивает, что заголовок будет сверху */
    padding: 10px;
    border-bottom: 5px solid #ccc;

    &__icon {
      color: red;
      font-size: 30px;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}

.list.show {
  opacity: 1;
  transform: translateY(0);
}

.listItem {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 2px solid #ccc;
}

.listItem:hover {
  background-color: #007bff;
  color: #fff;
}

.error {
  display: block;
  margin-top: 8px;
  color: red;
  font-size: 14px;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  margin: 5px 0px 0 -40px;
  cursor: pointer;
  color: #007bff;
  font-size: 25px;
}
