.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
}

.pagination button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .active {
  font-weight: bold;
  background-color: skyblue;
}
