.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

  // Медиа-запрос для мобильных телефонов
  @media only screen and (min-width: 300px) {
    min-width: 300px; // Минимальная ширина контейнера для мобильных телефонов
  }

  // Медиа-запрос для планшетов
  @media only screen and (min-width: 500px) {
    min-width: 500px; // Минимальная ширина контейнера для планшетов
  }
}

.logo {
  color: #333;
  background-color: #b2d0aa;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  position: sticky;
  top: 0;
  background-color: #dde5db;
  color: #333;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  border-right: 5px solid #4caf50;
  transition: width 0.5s ease-in-out;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  position: relative;
  color: #5b5b5b;
  border-bottom: 3px solid;

  &:hover {
    color: #007bff;
  }
}

.navItem__text {
  margin-left: 20px;
}

.active {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border-bottom-color: transparent;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
}

.navItem__icon {
  font-size: 24px;
  transition: color 0.3s ease;
}

.navItem__icon:hover {
  color: #007bff;
}

.navItem:hover {
  background-color: #f0f0f0;
}

.header {
  height: 50px;
  position: sticky;
  top: 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dde5db;
  color: #333;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 199;
}

.classFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.toggleSwitch {
  position: absolute;
  opacity: 0;
}

.toggleLabel {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  .toggleButton {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease; /* Плавное переключение */
  }
}

.toggleSwitch:checked + .toggleLabel .toggleButton {
  transform: translateX(20px); /* Сдвигаем переключатель при включении */
  background-color: #01a267;
}

.logo__content {
  margin-top: 10px;
  width: 100px;
  transition: transform 0.3s ease; /* Плавное переключение */
}

.open {
  transform: translateY(-100px); /* Перемещаем элемент вверх при открытии */
}
