.tableContainer {
  margin: 20px;
  overflow-x: auto;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.orderTable th {
  border: 1px solid #ffffff;
  padding: 10px;
  white-space: nowrap;
}

.orderTable td {
  border: 1px solid #808080;
  padding: 10px;
}

.orderTable th {
  background-color: #5f5e97;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #ddd;
}

.orderTable td {
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

.orderTable tbody tr {
  background-color: red;
}

.orderTable tr:nth-child(even) td {
  background-color: #f1f1f1;
}

.orderTable tr:hover td {
  background-color: #e0e0f5;
}

.noOrdersMessage {
  padding: 20px;
  text-align: center;
  color: #333;
  font-size: 18px;
}

.productName {
  white-space: nowrap;
}
