
.table {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  padding: 5px 10px;
  border: 2px solid #000000;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
}

.table th {
  font-weight: bold;
}

.table tbody tr:nth-child(odd) {
  background: #fff;
}

.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

/* Styles for titles */
.title {
  text-align: center;
  margin-bottom: 20px;
}

.title__main {
  font-size: 20px;
  background-color: #0000007c;
  color: white;
  border: 3px solid #ffffff;
}

.title {
  background-color: #bdbdbd7d;
}

/* Styles for image wrapper */
.wrapper__image {
  background-color: #66666680;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 20px;
  padding: 2px 5px 2px 2px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 300px;
  border-radius: 20px 0 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #0000007c;
  color: white;
  padding: 5px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 600px;
}