.archive {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 18px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.message {
  overflow-y: auto;
  width: 100%;
  max-width: 300px;
  height: 50px;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #878787;
  transition: 0.3s ease-in-out;
}

.table th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon {
  font-size: 35px;
  padding: 20px;
}

.button {
  background-color: #0070f3; // Основной цвет кнопки
  color: #ffffff; // Цвет текста
  border: none; // Без границ
  border-radius: 4px; // Скругленные углы
  padding: 12px 24px; // Внутренние отступы
  font-size: 16px; // Размер шрифта
  font-weight: bold; // Жирный шрифт
  cursor: pointer; // Курсор в виде руки
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; // Плавные переходы
  outline: none; // Убираем обводку при фокусе
  text-align: center; // Выравнивание текста по центру

  // Эффект при наведении
  &:hover {
    background-color: #005bb5; // Темнее цвет фона
    transform: scale(1.05); // Увеличение кнопки
  }

  // Эффект при нажатии
  &:active {
    background-color: #004494; // Еще темнее цвет фона
    transform: scale(0.98); // Уменьшение кнопки
  }

  // Эффект при фокусе
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 118, 255, 0.3); // Тень для фокуса
  }
}
