.table {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.barn__title {
  text-align: center;
  margin-bottom: 20px;
}

.title__main {
  font-size: 20px;
  background-color: #0000007c;
  color: white;
  border: 3px solid #ffffff;
}

.title {
  background-color: #bdbdbd7d;
}

.table th {
  letter-spacing: 1px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid #000000;
}

.table td {
  padding: 5px 10px;
  border: 3px solid #000000;
  text-align: left;
  max-width: max-content;
  width: 300px;
}

.table tbody tr:nth-child(odd) {
  background: #fff;
}

.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

.wrapper__image {
  background-color: #66666680;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 20px;
  padding: 2px 5px 2px 2px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 300px;
  border-radius: 20px 0 0 20px;
}

.btn__close {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  width: 40px;
}

.btn__open {
  background-color: #29d;
  color: white;
  padding: 5px;
  margin: 2px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 5px;
}


/* Стили для контейнера кнопок */
.container__btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Общие стили для кнопок */
.btn {
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

/* Hover-эффект для кнопок */
.btn:hover {
  filter: brightness(110%);
}

/* Стили для кнопки "Anbar mallari" */
.success {
  background-color: #4caf50;
  /* Зеленый цвет для успешного действия */
}

.success:hover {
  background-color: #45a049;
}

/* Стили для кнопки "Anbar İtirilmiş mallari" */
.error {
  background-color: #f44336;
  /* Красный цвет для ошибки или потери */
}

.error:hover {
  background-color: #e53935;
}