.barn {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper_table {
    width: 100%;
    overflow-x: auto;
    border: 2px solid;
    padding: 1px;
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom: 3px solid #014796;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    max-width: 1200px;
    width: 100%;
  }

  button {
    white-space: nowrap;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      background-color: #0070f3;
      color: #fff;
      transform: scale(1.01);
    }

    &.barn__ok {
      background-color: #28a745;
      color: #fff;

      &:hover {
        background-color: #218838;
      }
    }

    &.barn__not {
      background-color: #dc3545;
      color: #fff;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  &__btn_back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: max-content;

    &:hover {
      background-color: #45a049;
    }
  }

  &__btn_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: max-content;

    &:hover {
      background-color: #014796;
    }
  }
}

@media screen and (max-width: 400px) {
  .barn {
    padding: 10px;

    &__header {
      margin-bottom: 5px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__wrapper_table {
      padding: 1px;
      border-width: 1px;
    }

    &__title {
      font-size: 20px;
      letter-spacing: 1px;
      margin: 15px auto;
      width: 180px;
    }

    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
    }

    &__btn_back,
    &__btn_add {
      padding: 8px 12px;
      font-size: 16px;
      width: 150px;
    }
  }
}
