.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
  cursor: pointer;

  &__back {
    @extend .btn;
    max-width: min-content;
    background-color: #4caf50; // Приятный зеленый цвет
    color: white;

    &:hover {
      background-color: #45a049; // Темнее зеленый для ховера
    }
  }
}

.reload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; // Размер кнопки
  height: 40px; // Высота кнопки
  background-color: #007bff; // Синий фон
  border: none;
  border-radius: 50%; // Круглая форма кнопки
  color: #fff; // Цвет иконки
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    animation: spin 1s linear infinite; // Постоянное вращение
    background-color: #0056b3; // Цвет фона при наведении
    animation-duration: 1s; // Ускоряем вращение при наведении
  }

  &:active {
    background-color: #004080; // Цвет фона при нажатии
  }

  &:focus {
    outline: none; // Убираем обводку при фокусе
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
  }

  .reload {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    width: 30px; // Размер кнопки
    height: 30px; // Высота кнопки
  }
}

.close {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(252, 83, 83);
  cursor: pointer;
  border: 3px solid red;
  padding: 0.25em 0.5em;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close:hover {
  color: red;
}

.close:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .close {
    padding: 0.25em 0.75em;
  }
}

.edit {
  background-color: #fbfd63;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 4px;
  box-shadow:
    #fbfd63 4px 4px 0 0,
    #000 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.edit:focus {
  text-decoration: none;
}

.edit:hover {
  background-color: #fbff00;
}

.edit:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.edit:not([disabled]):active {
  box-shadow:
    #fff 2px 2px 0 0,
    #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .edit {
    padding: 12px;
  }
}

.default {
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  &:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:focus {
    user-select: auto;
  }

  &:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  &:disabled {
    cursor: auto;
  }

  &:active {
    border-width: 4px 0 0;
    background: none;
  }
}

.success {
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:
    Inter,
    -apple-system,
    system-ui,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

  &:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
  }

  &:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
  }

  &:hover {
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
  }
}
