.anbar {
  max-width: 1200px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;

  list-style: none;
  border: 2px solid #000;
  border-radius: 10px;

  &__items {
    border: 2px solid rgb(128, 0, 109);
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: 2px solid green;
    padding: 5px;
    margin: 3px;
  }
}

.title {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

.container {
  display: flex;
  align-items: center;
}

.table {
  max-width: 1400px;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  &__no_wrap {
    white-space: nowrap;
  }

  .ordered {
    background-color: yellow;
    font-weight: 700;
  }

  th {
    background-color: #4caf50;
    padding: 12px;
    text-align: left;
    border: 2px solid #616161;
  }

  td {
    border: 2px solid #616161;
    padding: 12px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e7e7e7;
  }
}

// transfer_stock_form
.transfer_stock_form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  h2 {
    text-align: center;
    margin: 10px 0;
  }

  .form__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 10px 0;
    margin: 0 0 5px 0;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }

  input {
    width: calc(100% - 20px);
    font-size: 22px;
    padding: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background-color: #eee;
    transition:
      background-color 0.3s,
      transform 0.2s;

    &:focus {
      border: 2px solid #007bff;
      outline: none;
    }
  }

  button {
    width: calc(100% - 20px);
    font-size: 18px;
    letter-spacing: 2px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.2s;
    margin-top: 20px;

    &:hover {
      background-color: #0056b3;
      transform: translateY(-2px);
    }
  }

  .error_message {
    color: red;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .transfer_stock_form {
    max-width: 100%;
  }
}

.add__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid black;
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #007bff;
  color: #eee;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: #0056b3;
    transform: translateY(2px);
  }
}
