.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 999;
}

.barnTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  th,
  td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
    font-size: 18px;
    text-align: center;
  }

  .azencoCode {
    width: 120px;
    text-align: center;
    font-style: italic;
  }

  .name {
    width: 400px;
    text-align: start;
  }

  .wrapper__btn {
    text-align: center;
    width: 100px;
  }

  th {
    background-color: #4e63ff;
    color: white;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  button {
    padding: 5px 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      background-color: #45a049;
    }
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  max-width: 900px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

@media (max-width: 800px) {
  .modal {
    max-width: 500px;
    height: 500px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal form {
    margin: 20px auto;
  }
}

.modal form {
  display: flex;
  flex-direction: column;
  border: 1px solid #333333;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin-left: 40px;
}

.modal label {
  font-size: 18px;
  margin: 8px;
  color: #555555;
  text-align: center;
}

.modal input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 15px 5px;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  margin: 10px 0;
  height: 50px;
  padding: 5px;

  &__long {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
  }
}

.modal input:focus {
  border-color: #007bff;
  outline: none;
}

.no_stocks {
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  &:disabled {
    color: #000000;
    background-color: #555555;
    cursor: no-drop;
  }

  &:hover {
    background-color: #0056b3;
  }

  &__close {
    border-radius: 50%;
    background-color: red;
    color: #fff;
    border: 1px solid;
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 255, 255);
      color: #ff0000;
    }
  }
}

.err {
  color: red;
  margin: 2px;
  text-align: center;
  white-space: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b3b3b3;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;

  &:last-child {
    border-bottom: none;
  }
}

.main {
  width: 100%;
  max-width: 500px;
  border: 2px solid #333333;
  border-radius: 10px;
}

.key {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px;
  width: 100%;
  max-width: 210px;
  border-right: 1px solid;
  letter-spacing: 1px;
  white-space: wrap;
  height: 50px;
}

.value {
  height: 50px;
  padding: 10px;
  width: 100%;
  max-width: 280px;
  border-left: 3px solid #0a91a2;
  text-align: center;
  color: #000000;
  font-style: italic;
}
