.products {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.title {
  margin: 10px 0 20px;
  height: 30px;
  text-align: center;
}

.tableContainer {
  margin: 10px;
}

.table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin: 0 auto;
  font-size: 18px;

  img {
    border-radius: 10px;
  }
}

.th,
.td {
  border: 3px solid #808080;
  padding: 5px 10px;
  text-align: left;
  width: max-content;
  white-space: nowrap;
}

.max {
  white-space: nowrap;
  max-width: 50px;
  width: 100%;
}

.numList {
  width: 25px;
}

.unit {
  width: 130px;
}

.small {
  width: 100px;
  text-align: center;
}

.th {
  background-color: #4caf50;
  letter-spacing: 1px;
  color: #fff;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tr:hover {
  background-color: #d9f4e8;
}

.img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
}

.btn {
  &__close {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 8px;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
  }

  &__close:hover {
    background-color: red;
    color: white;
  }
}

.button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.add__button {
  @extend .button;
  background-color: green;
  color: white;
}

.delete__button {
  @extend .button;
  background-color: red;
  color: white;
}

.edit__button {
  @extend .button;
  background-color: yellow;
  color: black;
}

.btnDisabled {
  @extend .button;
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

// form
.form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  div {
    font-size: 16px;
    margin: 10px;
  }

  .error {
    color: red;
  }

  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: dodgerblue;
    }
  }
}

.dropdown {
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__title {
    border: 1px solid rgb(0, 67, 99);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    color: white;
  }

  li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid blue;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #f0f0f0;
      color: #4caf50;
    }
  }
}
