.title {
  margin: 10px 0;
  height: 30px;
  text-align: center;
}

.tableContainer {
  margin: 10px;
}

.table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin: 0 auto;
}

.th,
.td {
  border: 3px solid #808080;
  padding: 12px;
  text-align: left;
  width: max-content;
}

.th {
  background-color: #4caf50;
  letter-spacing: 1px;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tr:hover {
  background-color: #d9f4e8;
}

.img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 120px;
}

.btn {
  &__close {
    padding: 5px;
    margin: 5px;
  }
}
