.productsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.searchContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.priceFilterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.searchInput,
.searchSelect,
.priceInput {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease;
  height: 50px;

  &:focus {
    border-color: #4caf50;
    outline: none;
  }
}

.searchButton,
.clearButton,
.addButton {
  padding: 12px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}

.clearButton {
  background-color: #f44336;

  &:hover {
    background-color: #e53935;
  }
}

.totalCount {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.barn__result__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #45a049;
}

// table
.table {
  width: fit-content;
  height: 100%;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin: 0 auto;
  font-size: 18px;
  overflow-y: scroll;
  white-space: nowrap;
  border-bottom: 2px solid #808080;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 10px;
  }
}

.tableRow {
  display: flex;
  width: 100%;
  max-width: 1200px;

  &__title {
    position: sticky;
    top: 0;
  }
}

.th,
.td {
  border: 1px solid #808080;
  padding: 10px 15px;
  text-align: left;
  white-space: nowrap;
}

.th {
  background-color: #4caf50;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
}

.numList {
  width: 50px;
}

.small {
  width: 150px;
  text-align: center;
}

.max {
  width: 550px;
}

.td {
  background-color: #ffffff;
}

.tableRow:nth-child(even) .td {
  background-color: #f2f2f2;
}

.tableRow:hover .td {
  background-color: #d9f4e8;
}

.img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
}

.btn {
  &__close {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 8px;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.button {
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.add__button {
  @extend .button;
  background-color: green;
  color: white;
}

.delete__button {
  @extend .button;
  background-color: red;
  color: white;
}

.edit__button {
  @extend .button;
  background-color: yellow;
  color: black;
}

.btnDisabled {
  @extend .button;
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
