.table {
  border-collapse: collapse;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
  }

  td {
    border: 2px solid black;
  }

  tbody tr:hover {
    background-color: #dde5db;
  }

  .title {
    text-align: center;
    background-color: #02c52c;
    padding: 5px 10px;
    letter-spacing: 1px;
  }

  .title__main {
    font-size: 20px;
    background-color: #8a8a8a;
    color: white;
    border: 2px solid rgb(68, 68, 68);
    padding: 10px;
  }

  .btn {
    cursor: pointer;
    background-color: #4caf50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между текстом и смайликом */
    transition:
      background-color 0.3s ease,
      transform 0.2s ease; /* Плавный переход цвета фона и масштаба */

    &:hover {
      background-color: #45a049; /* Цвет фона при наведении */
      transform: scale(1.05); /* Легкое увеличение кнопки при наведении */
    }

    &:active {
      transform: scale(0.95); /* Легкое уменьшение кнопки при нажатии */
    }

    &::before {
      content: '📦'; /* Смайлик коробки перед текстом */
      font-size: 20px;
    }
  }

  .wrapper__image {
    background-color: #66666680;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 20px;
    padding: 5px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .image {
    width: 300px;
    height: 250px;
    border-radius: 20px 0 0 20px;
  }

  .icon {
    font-size: 30px;
    width: 30px;

    cursor: pointer;
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &__image {
      @extend .icon;
      color: #00b7ff;

      &:hover {
        color: #007acc;
      }
    }

    &__close {
      @extend .icon;
      color: #e57373;
      background-color: white;
      border-radius: 20px;

      &:hover {
        color: white;
        background-color: #e57373;
      }
    }

    &__plus {
      @extend .icon;
      color: #009c0593;
      border-radius: 50%;

      &:hover {
        color: #009d05;
      }
    }

    &__minus {
      @extend .icon;
      color: rgba(0, 0, 255, 0.37);
      font-size: 25px;

      &:hover {
        color: rgb(0, 0, 255);
      }
    }

    &__delete {
      @extend .icon;
      color: #e57373;

      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }

  .name {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
  }

  .date {
    font-size: 14px;
  }
}

.table_title {
  text-align: center;
  margin: 5px 0;
}
