.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
}

.form__header,
.form__stocks_header {
  text-align: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  &__stocks  {
    width: 160px;
    font-size: 20px;
  }
}

.form__locations {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form__stocks {
  display: flex;
  gap: 10px;
}

.form_group label {
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
  border-bottom: 2px solid blue;
}

.form_group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit_button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: #45a049;
}
