.sorting {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin-top: 16px;
}

.button {
  background-color: #fff;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
  color: white;
}

.active {
  background-color: #00bafd;
  color: white;
}
